<script setup lang="ts">
import MainView from "./views/MainView.vue";
import TestView from "./views/TestView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <v-btn color="success" @click="loginStore.loadData"
    >Load from local Storage</v-btn
  >
  <TestView v-if="!loginStore.isLogin" />
  <MainView
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :login-name="loginStore.loginName"
  />
</template>

<style scoped></style>
